* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.pc-screen {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.pc-screen .desktop {
  width: 100%;
  height: 92%;
  background-image: url("./windowbg.png");
  background-size: cover;
}
.pc-screen .desktop .desktop-icons {
  padding: 1rem;
  height: 92%;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 1rem;
}
.pc-screen .desktop .desktop-icons .row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pc-screen .desktop .desktop-icons .row .icon-box {
  text-align: center;
  height: 5rem;
  width: 5rem;
  flex-wrap: nowrap;
}
.pc-screen .desktop .desktop-icons .row .icon-box:hover {
  border-radius: 1px solid rgba(250, 249, 249, 0.452);
  background-color: rgba(245, 245, 245, 0.242);
  border-radius: 0.1rem;
}
.pc-screen .desktop .desktop-icons .row .icon-box img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 3rem;
  width: 3rem;
  pointer-events: none;
}
.pc-screen .desktop .desktop-icons .row .icon-box h5 {
  color: rgb(252, 251, 251);
  font-size: 0.7rem;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  pointer-events: none;
}
.pc-screen .desktop .desktop-icon-menu {
  position: absolute;
  width: 250px;
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.3rem;
  border-radius: 0.8rem;
  color: rgb(240, 239, 237);
  border: 1px solid rgb(13, 60, 211);
  background: radial-gradient(at 50px 10px, rgba(26, 6, 141, 0.9), rgba(30, 5, 114, 0.9));
}
.pc-screen .desktop .desktop-icon-menu .top {
  display: flex;
  gap: 0.3rem;
  width: 100%;
  padding: 0.2rem;
  flex-direction: row;
  border-bottom: 1px solid rgb(70, 63, 90);
}
.pc-screen .desktop .desktop-icon-menu .top ul {
  display: flex;
  width: 100%;
}
.pc-screen .desktop .desktop-icon-menu .top ul li {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.1rem 0.4rem;
  border-right: 1px solid rgb(70, 63, 90);
}
.pc-screen .desktop .desktop-icon-menu .top ul li .parts {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.pc-screen .desktop .desktop-icon-menu .top ul li .parts:hover {
  border-radius: 0.3rem;
  background-color: rgba(31, 17, 235, 0.541);
}
.pc-screen .desktop .desktop-icon-menu .top ul li .parts i {
  font-size: 0.7rem;
}
.pc-screen .desktop .desktop-icon-menu .top ul li .parts h5 {
  font-size: 0.6rem;
}
.pc-screen .desktop .desktop-icon-menu .top ul li#border-remove {
  border: none;
}
.pc-screen .desktop .desktop-icon-menu .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pc-screen .desktop .desktop-icon-menu .bottom ul {
  display: flex;
  flex-direction: column;
}
.pc-screen .desktop .desktop-icon-menu .bottom ul li.for-border {
  border-bottom: 1px solid rgb(70, 63, 90);
}
.pc-screen .desktop .desktop-icon-menu .bottom ul li {
  display: flex;
  align-items: center;
  grid-area: 0.3rem;
  padding: 0.3rem;
  justify-content: space-between;
}
.pc-screen .desktop .desktop-icon-menu .bottom ul li:hover {
  border-radius: 0.3rem;
  background-color: rgba(31, 17, 235, 0.541);
}
.pc-screen .desktop .desktop-icon-menu .bottom ul li .left-part {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.pc-screen .desktop .desktop-icon-menu .bottom ul li .left-part i {
  font-size: 0.7rem;
}
.pc-screen .desktop .desktop-icon-menu .bottom ul li .left-part h5 {
  font-size: 0.7rem;
}
.pc-screen .desktop .desktop-icon-menu .bottom ul li .right-part {
  align-items: center;
}
.pc-screen .desktop .desktop-icon-menu .bottom ul li .right-part i {
  font-size: 0.6rem;
}
.pc-screen .desktop .desktop-icon-menu .bottom ul li .right-part p {
  font-size: 0.6rem;
}
.pc-screen .desktop .desktop-menu {
  width: 200px;
  display: none;
  flex-direction: column;
  padding: 0.1rem;
  position: absolute;
  top: 0;
  left: 40%;
  background: radial-gradient(at 50px 10px, rgba(26, 6, 141, 0.9), rgba(30, 5, 114, 0.9));
  color: whitesmoke;
  border-radius: 0.4rem;
}
.pc-screen .desktop .desktop-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pc-screen .desktop .desktop-menu ul li {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  border-bottom: 1px solid rgba(134, 172, 248, 0.434);
}
.pc-screen .desktop .desktop-menu ul li:hover {
  border-radius: 0.3rem;
  background-color: rgba(31, 17, 235, 0.541);
}
.pc-screen .desktop .desktop-menu ul li .left-part {
  height: 100%;
  display: flex;
  gap: 0.5rem;
}
.pc-screen .desktop .desktop-menu ul li .left-part i {
  font-size: 0.7rem;
  color: rgb(82, 182, 230);
}
.pc-screen .desktop .desktop-menu ul li .left-part h5 {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}
.pc-screen .desktop .desktop-menu ul li .right-part {
  height: 100%;
}
.pc-screen .desktop .desktop-menu ul li .right-part i {
  font-size: 0.6rem;
}
.pc-screen .desktop .desktop-menu ul li .right-part p {
  font-size: 0.5rem;
}
.pc-screen .desktop .start-button-menu.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); /* Slides up to original position */
  pointer-events: auto;
}
.pc-screen .desktop .start-button-menu {
  position: fixed;
  background-color: transparent;
  gap: 0.8rem;
  display: flex;
  width: 730px;
  height: 440px;
  border-radius: 0.7rem;
  z-index: 99;
  opacity: 0;
  transform: translateY(100%); /* Pushes it down by its own height */
  pointer-events: none; /* Prevents clicking it while hidden */
  /* The Secret Sauce: Smooth Transition */
  /* 'ease-out' starts fast and slows down gracefully */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.pc-screen .desktop .start-button-menu .left-part {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  background: radial-gradient(at 20px 10px, rgb(18, 18, 158), rgb(104, 104, 249), rgb(16, 3, 115));
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.pc-screen .desktop .start-button-menu .left-part .top {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  gap: 0.6rem;
  padding-bottom: none;
}
.pc-screen .desktop .start-button-menu .left-part .top .input-part {
  padding: 1rem;
  display: flex;
  gap: 0.4rem;
  border-radius: 1rem;
  height: 1rem;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(35, 35, 186);
  background-color: black;
}
.pc-screen .desktop .start-button-menu .left-part .top .input-part i {
  width: 4%;
  color: white;
}
.pc-screen .desktop .start-button-menu .left-part .top .input-part input {
  background-color: transparent;
  width: 90%;
  padding: 0.2rem;
  border: none;
  font-size: 1rem;
  caret-color: white; /* cursor */
  outline: none;
  color: white;
}
.pc-screen .desktop .start-button-menu .left-part .top .pinned-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1.4rem;
  justify-content: space-between;
}
.pc-screen .desktop .start-button-menu .left-part .top .pinned-part h5 {
  font-size: 1rem;
  color: white;
}
.pc-screen .desktop .start-button-menu .left-part .top .pinned-part button {
  padding: 0.3rem 0.4rem;
  display: flex;
  gap: 0.3rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 0.6rem;
  background-color: rgba(120, 113, 242, 0.546);
}
.pc-screen .desktop .start-button-menu .left-part .top .pinned-part button:hover {
  background-color: rgba(120, 113, 242, 0.646);
}
.pc-screen .desktop .start-button-menu .left-part .top .icon-part {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.pc-screen .desktop .start-button-menu .left-part .top .icon-part .icons {
  flex-grow: 1;
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 0.4rem;
  border-radius: 0.3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pc-screen .desktop .start-button-menu .left-part .top .icon-part .icons:hover {
  background-color: rgba(120, 113, 242, 0.546);
}
.pc-screen .desktop .start-button-menu .left-part .top .icon-part .icons img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 2.1rem;
  width: 2.1rem;
}
.pc-screen .desktop .start-button-menu .left-part .top .icon-part .icons h5 {
  color: white;
  font-weight: 100;
  font-size: 0.7rem;
}
.pc-screen .desktop .start-button-menu .left-part .top .recommed-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.4rem;
}
.pc-screen .desktop .start-button-menu .left-part .top .recommed-part h5 {
  font-size: 1rem;
  color: white;
}
.pc-screen .desktop .start-button-menu .left-part .top .recommed-part button {
  padding: 0.3rem 0.4rem;
  display: flex;
  gap: 0.3rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 0.6rem;
  background-color: rgba(120, 113, 242, 0.546);
}
.pc-screen .desktop .start-button-menu .left-part .top .recommed-part button:hover {
  background-color: rgba(120, 113, 242, 0.646);
}
.pc-screen .desktop .start-button-menu .left-part .top .usedAppMention {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.4rem 0.3rem 1.4rem;
  gap: 4rem;
}
.pc-screen .desktop .start-button-menu .left-part .top .usedAppMention .apps {
  width: 100%;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  color: rgb(237, 237, 237);
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.pc-screen .desktop .start-button-menu .left-part .top .usedAppMention .apps:hover {
  background-color: rgba(120, 113, 242, 0.646);
}
.pc-screen .desktop .start-button-menu .left-part .top .usedAppMention .apps .left-part-apps img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 1.6rem;
  width: 1.6rem;
}
.pc-screen .desktop .start-button-menu .left-part .top .usedAppMention .apps .right-part-apps {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.pc-screen .desktop .start-button-menu .left-part .top .usedAppMention .apps .right-part-apps h5 {
  width: 100%;
  font-weight: 100;
  font-size: 0.8rem;
}
.pc-screen .desktop .start-button-menu .left-part .top .usedAppMention .apps .right-part-apps p {
  color: rgb(212, 212, 212);
  font-size: 0.7rem;
}
.pc-screen .desktop .start-button-menu .left-part .close-window-part {
  padding: 2rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: radial-gradient(at 100px 200px, rgb(59, 59, 207), rgb(25, 32, 105), rgb(98, 98, 228));
  width: 100%;
  border-top: 1px solid rgb(23, 23, 199);
  height: 1%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.pc-screen .desktop .start-button-menu .left-part .close-window-part .user-accout {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.3rem;
  padding: 0.3rem;
}
.pc-screen .desktop .start-button-menu .left-part .close-window-part .user-accout:hover {
  background-color: rgba(120, 113, 242, 0.546);
}
.pc-screen .desktop .start-button-menu .left-part .close-window-part .user-accout i {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem;
  text-align: center;
  background-color: aliceblue;
  border-radius: 50%;
}
.pc-screen .desktop .start-button-menu .left-part .close-window-part .user-accout h3 {
  color: white;
  font-size: 0.9rem;
}
.pc-screen .desktop .start-button-menu .left-part .close-window-part .off-part {
  padding: 0.4rem;
  border-radius: 0.3rem;
}
.pc-screen .desktop .start-button-menu .left-part .close-window-part .off-part:hover {
  background-color: rgba(120, 113, 242, 0.546);
}
.pc-screen .desktop .start-button-menu .left-part .close-window-part .off-part i {
  color: white;
}
.pc-screen .desktop .start-button-menu .right-part {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  align-items: center;
  background-color: blue;
  border-radius: 1rem;
  background: radial-gradient(at 20px 10px, rgb(18, 18, 158), rgb(104, 104, 249), rgb(16, 3, 115));
  padding: 1.1rem;
  gap: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.pc-screen .desktop .start-button-menu .right-part .top-section {
  height: 40%;
  width: 100%;
}
.pc-screen .desktop .start-button-menu .right-part .top-section img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}
.pc-screen .desktop .start-button-menu .right-part .middle-section {
  text-align: center;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.4rem;
}
.pc-screen .desktop .start-button-menu .right-part .middle-section h4 {
  font-size: 1.2rem;
  color: rgb(250, 252, 252);
}
.pc-screen .desktop .start-button-menu .right-part .middle-section p {
  color: rgb(192, 194, 194);
  font-size: 0.8rem;
}
.pc-screen .desktop .start-button-menu .right-part .bottom-section {
  text-align: center;
  align-items: center;
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
}
.pc-screen .desktop .start-button-menu .right-part .bottom-section h5 {
  font-size: 0.9rem;
}
.pc-screen .desktop .start-button-menu .right-part .bottom-section > button {
  padding: 0.2rem 0.5rem;
  font-size: 0.6rem;
  background-color: transparent;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(219, 216, 216);
  border-radius: 0.2rem;
}
.pc-screen .desktop .start-button-menu .right-part .bottom-section > button:hover {
  background-color: rgba(120, 113, 242, 0.546);
}
.pc-screen .desktop .start-button-menu .right-part .bottom-section .buttons {
  display: flex;
  gap: 0.6rem;
}
.pc-screen .desktop .start-button-menu .right-part .bottom-section .buttons button {
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  font-size: 0.7rem;
  background-color: rgba(120, 113, 242, 0.546);
  border: none;
  text-align: center;
  color: rgb(241, 240, 238);
}
.pc-screen .desktop .start-button-menu .right-part .bottom-section .buttons button:hover {
  background-color: rgba(120, 113, 242, 0.346);
}
.pc-screen .desktop .start-button-menu .right-part .bottom-section .buttons button sup {
  font-size: 0.3rem;
  padding: 0.1rem;
}
.pc-screen .desktop .start-button-menu .right-part .bottom-section p {
  font-size: 0.8rem;
}
.pc-screen .task-bar {
  z-index: 100;
  position: relative;
  bottom: 0px;
  left: 0px;
  height: 8%;
  width: 100%;
  background: linear-gradient(to right, rgb(3, 3, 120), rgb(47, 67, 168), darkblue);
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
}
.pc-screen .task-bar .left-section {
  height: 100%;
}
.pc-screen .task-bar .left-section button {
  background-color: transparent;
  border: none;
}
.pc-screen .task-bar .left-section button :hover {
  border: 1px solid rgba(84, 84, 187, 0.484);
  background-color: rgba(92, 92, 194, 0.484);
  border-radius: 0.2rem;
}
.pc-screen .task-bar .left-section button img {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.3rem;
  height: 2rem;
  width: 2.2rem;
}
.pc-screen .task-bar .middle-section {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.3rem;
  transition: all 0.3s linear;
}
.pc-screen .task-bar .middle-section button#start-button:active img {
  scale: 0.96;
}
.pc-screen .task-bar .middle-section .input-box {
  height: 2rem;
  width: 14rem;
  background: linear-gradient(to right, rgb(84, 113, 201), rgb(65, 85, 168));
  padding: 0.1rem;
  display: flex;
  border-radius: 1rem;
  align-items: center;
}
.pc-screen .task-bar .middle-section .input-box input::-moz-placeholder {
  color: rgb(239, 237, 237);
}
.pc-screen .task-bar .middle-section .input-box input::placeholder {
  color: rgb(239, 237, 237);
}
.pc-screen .task-bar .middle-section .input-box img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 1.23em;
  width: 2.3rem;
}
.pc-screen .task-bar .middle-section .input-box input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 0.3rem;
  caret-color: white; /* cursor */
  width: 90%;
  outline: none;
  border-radius: 1rem;
  height: 100%;
}
.pc-screen .task-bar .middle-section button {
  background-color: transparent;
  border: none;
  padding: 0.1rem;
}
.pc-screen .task-bar .middle-section button :hover {
  border: 1px solid rgba(84, 84, 187, 0.484);
  background-color: rgba(92, 92, 194, 0.484);
  border-radius: 0.2rem;
}
.pc-screen .task-bar .middle-section button img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 2.2rem;
  padding: 0.1rem;
  width: 2.3rem;
}
.pc-screen .task-bar .right-section {
  align-items: center;
  display: flex;
  height: 100%;
  gap: 0.1rem;
  color: aliceblue;
}
.pc-screen .task-bar .right-section .overflow-icons {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  height: 2rem;
}
.pc-screen .task-bar .right-section .overflow-icons i#arrow {
  font-size: 2rem;
}
.pc-screen .task-bar .right-section .overflow-icons i#loop-icon {
  padding: 0.6rem;
}
.pc-screen .task-bar .right-section .overflow-icons :hover {
  border: 1px solid rgba(84, 84, 187, 0.484);
  background-color: rgba(92, 92, 194, 0.484);
  border-radius: 0.2rem;
}
.pc-screen .task-bar .right-section .system-tray {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  padding: 1rem 0.4rem;
  height: 100%;
  width: 100%;
  border: none;
}
.pc-screen .task-bar .right-section .system-tray:hover {
  border: 1px solid rgba(84, 84, 187, 0.484);
  background-color: rgba(92, 92, 194, 0.484);
  border-radius: 0.2rem;
}
.pc-screen .task-bar .right-section .time-date-notification-icon {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.2rem;
  width: 100%;
}
.pc-screen .task-bar .right-section .time-date-notification-icon:hover {
  border: 1px solid rgba(84, 84, 187, 0.484);
  background-color: rgba(92, 92, 194, 0.484);
  border-radius: 0.2rem;
}
.pc-screen .task-bar .right-section .time-date-notification-icon .time-date {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: 300;
  gap: 0.1rem;
  padding: 0.3rem;
  pointer-events: none;
}
.pc-screen .task-bar .right-section .time-date-notification-icon .nitification-icon {
  width: 20%;
  pointer-events: none;
  padding: 0.3rem 0.1rem;
}/*# sourceMappingURL=style.css.map */